<config>
    <modules>
        <Brideo_Amazon>
            <version>1.0.1</version>
        </Brideo_Amazon>
    </modules>
    <global>
        <models>
            <brideo_amazon>
                <class>Brideo_Amazon_Model</class>
            </brideo_amazon>
        </models>
        <brideo_amazon>
            <amazon>
                <class>Brideo_Amazon_Helper</class>
            </amazon>
        </brideo_amazon>
    </global>
    <crontab>
        <jobs>
            <brideo_amazon>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run>
                    <model>brideo_amazon/s3::prepareBackup</model>
                </run>
            </brideo_amazon>
        </jobs>
    </crontab>
</config>
